# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
**/bin/
**/obj/
**/Debug/
**/Release/

# TwinCAT generated / cache
**/_Boot/
**/_CompileInfo/
**/_Libraries/
_TwinCAT Boot/
*.tpy
*.tmc

# TwinCAT user / temp
*.~u
*.tsproj.user
*.plcproj.user

# Temporary files
*.tmp
*.bak
*.log

# Windows
Thumbs.db
Desktop.ini